@font-face {
  font-family: 'iconfont';  /* project id 1087054 */
  src: url('//at.alicdn.com/t/font_1087054_bvzg5l8rvug.eot');
  src: url('//at.alicdn.com/t/font_1087054_bvzg5l8rvug.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1087054_bvzg5l8rvug.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1087054_bvzg5l8rvug.woff') format('woff'),
  url('//at.alicdn.com/t/font_1087054_bvzg5l8rvug.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1087054_bvzg5l8rvug.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jianhao:before {
  content: "\e659";
}

.icon-arrow-up-full:before {
  content: "\e646";
}

.icon-arrow-down-full:before {
  content: "\e674";
}

.icon-tishi:before {
  content: "\e69b";
}

.icon-user:before {
  content: "\e858";
}

.icon-close:before {
  content: "\e6ac";
}

.icon-shezhi:before {
  content: "\e665";
}

.icon-eye:before {
  content: "\e76c";
}

.icon-guanbi:before {
  content: "\e60e";
}

.icon-notice:before {
  content: "\e6f5";
}

.icon-zhuti:before {
  content: "\e682";
}

.icon-language:before {
  content: "\e600";
}

.icon-eye1:before {
  content: "\e604";
}

.icon-T-yanse:before {
  content: "\e720";
}

.icon-dashboard:before {
  content: "\e8e1";
}

.icon-mima:before {
  content: "\e629";
}

.icon-zhankai:before {
  content: "\e602";
}

.icon-shousuo:before {
  content: "\e60a";
}

.icon-xiaoxi:before {
  content: "\e62e";
}

.icon-plus:before {
  content: "\e613";
}
