#app {
  height: 100%;
  color: #333333;
  .backstage {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.2);
    z-index: 999;
  }
  .sidebar {
    width: 260px !important;
    min-width: 260px !important;
    max-width: 260px !important;
    flex: 0 0 260px !important;
    background: #304156;
    &.ant-layout-sider-collapsed {
      width: 50px !important;
      flex: 0 0 50px !important;
      min-width: 50px !important;
      max-width: 50px !important;
    }
    &.mobile {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 1000;
      transition: transform .5s ease;
      &.ant-layout-sider-collapsed {
        transform: translateX(-100%);
      }
    }
    .sidebar-menu {
      background: #304156;
      .ant-menu-item {
        height: 56px;
        line-height: 56px;
        margin-top: 0;
        margin-bottom: 0;
        &.ant-menu-item-selected {
          background-color: transparent;
          color: #409eff;
          a {
            color: inherit;
            i, span {
              color: inherit;
            }
          }
        }
        &:hover,
        &.ant-menu-item-selected:hover {
          background-color: #263445;
        }
      }
      .ant-menu-submenu {
        .ant-menu-submenu-title {
          margin-top: 0;
          margin-bottom: 0;
          height: 56px;
          line-height: 56px;
          &:hover {
            background: #263445;
          }
        }
        .ant-menu-sub {
          background: #1f2d3d;
          box-shadow: 0 2px 8px rgba(21, 30, 41, 0.45) inset;
          .ant-menu-item:hover,
          .ant-menu-item.ant-menu-item-selected:hover {
            background: #001528;
          }
        }
      }
      &.ant-menu-inline-collapsed {
        width: 50px;
        .ant-menu-item,
        .ant-menu-submenu-title {
          padding: 0 17px !important;
        }
      }
    }
  }
  .app-header {
    background-color: #fff;
    padding: 0;
    height: auto;
    line-height: 1;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.06);
    z-index: 99;
    .navbar {
      height: 50px;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      .nav-left {
        line-height: 50px;
        color: #333;
        font-size: 20px;
      }
      .nav-right {
        display: flex;
        align-items: flex-end;
        height: inherit;
        padding-bottom: 7px;
        > li + li {
          margin-left: 20px;
        }
        .ant-dropdown-link {
          .text {
            margin-right: 5px;
            .iconfont {
              font-size: 24px;
            }
          }
          .anticon {
            font-size: 12px;
          }
        }
        .user-avatar {
          img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            vertical-align: text-bottom;
            margin-top: 7px;
            margin-right: 5px;
          }
        }
      }
    }
  }
  .app-main {
    // padding:  10px 20px 20px;
    // text-align: center;
    background-color: #f1f1f1;
    // background-color: #fff;
    height: calc(100% - 50px);
    overflow-y: auto;
    .main-content {
      padding: 20px;
    }
    // .main-wrapper {
    //   height: 100%;
    //   overflow-y: auto;
    //   background-color: #f1f1f1;
    //   .main-content {
    //     padding: 0 20px 20px;
    //   }
    // }
  }
}