@mixin flex ($dir: row, $juc: center, $ali: center) {
  display: flex;
  flex-direction: $dir;
  align-items: $ali;
  justify-content: $juc;
}

@mixin form-layout-ver ($col, $isWrap: 'false') {
  @include flex(row, flex-start, flex-start);
  flex-wrap: wrap;
  .com-form-item {
    width: (100% / $col) - 2%;
    margin-right: (100% - ((100% / $col) - 2%) * $col) / ($col - 1);
    &:nth-child(#{$col}n) {
      margin-right: 0;
    }
    &.width-all {
      width: 100%;
      margin-right: 0;
    }
    .ant-form-item-control {
      .ant-picker, 
      .ant-input-number {
        width: 100%;
      }
    }
  }
  .com-form-btns {
    text-align: center;
    .ant-btn + .ant-btn {
      margin-left: 15px;
    }
  }
  @if ($isWrap == 'true') {
    .com-form-btns {
      width: (100% / $col) - 2%;
      align-self: flex-end;
    }
  } @else {
    .com-form-btns {
      width: 100%;
      margin-bottom: 0;
    }
  }
}

@mixin form-layout-hor () {
  .com-form-item {
    .ant-form-item-control {
      .ant-picker, 
      .ant-input-number {
        width: 100%;
      }
    }
  }
  .com-form-btns {
    .ant-btn + .ant-btn {
      margin-left: 15px;
    }
  }
}