.table-wrapper {
  width: 100%;
  // .ant-table-thead > tr > th,
  // .ant-table-tbody > tr > td {
  //   padding: 8px;
  // }
  .ant-table-content {
    overflow-x: auto !important;
  }
}
.page-wrapper {
  padding: 20px 0 0;
  text-align: right;
}