@import '@/styles/vars.scss';
.img-uploader > .ant-upload {
  width: 128px;
  height: 128px;
  img {
    width: 100%;
    height: auto;
  }
}
.com-form-ver {
  @include form-layout-ver(3);
}
.com-form-hor {
  @include form-layout-hor();
}