@import './styles/normalize.css';
@import './assets/iconfont/iconfont.css';

html, body, #root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  list-style: none;
}

ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
